body, html, .container-fluid, .wrapper {
	height: 100%;
	margin: 0;
}

.container-fluid, .wrapper {
	display: flex;
	flex-direction: column;
}

.row-flex {
	display: flex;
	flex: 2;
}

.contact-column {
	flex-direction: column;
	display: flex;
	height: 100%;
	margin: 0;
}

.contact-list {
	border-right: 1px solid black;

  flex: 1;
	overflow-y: auto;
}

.toolbar {
	width: 100%;
	border-bottom: 1px solid black;
}

.picture {
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: 20px;
}

.profile-image {
	max-width: 300px;
	max-height: 300px;
}

.details {
	margin-top: 50px;
	margin-right: 20px;
}

.details > h3 {
	text-align: center;
}

.details > p {
	margin-bottom: 30px;
}
