body, html, .container-fluid, .wrapper {
	height: 100%;
	margin: 0;
}

.container-fluid, .wrapper {
	display: flex;
	flex-direction: column;
}

.row-flex {
	display: flex;
	flex: 2;
}

.contact-column {
	flex-direction: column;
	display: flex;
	height: 100%;
	margin: 0;
}

.contact-list {
	border-right: 1px solid black;

  flex: 1;
	overflow-y: auto;
}

.toolbar {
	width: 100%;
	border-bottom: 1px solid black;
}

.picture {
	width: 300px;
	height: 300px;
	margin-top: 100px;
	margin-left: 20px;
}

.profile-image {
	max-width: 300px;
	max-height: 300px;
}

.details {
	margin-top: 50px;
	margin-right: 20px;
}

.details-header {
	text-align: center;
	border-bottom: 2px solid black;
	margin-bottom: 50px;
}

.details-header > h3 {
	display: inline-block;
}

.contact-form {
	padding-top: 50px;
	margin: 0 auto;
	width: 400px;
}

.auth-form {
	margin-left: 200px;
  margin-top: 50px;
}

.alert-danger {
	width: 250px;
}
